.socials__list, .footer-nav__list, .team__list, .advantages__list, .products__list, .socials-list, .site-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-nav__link, .logo__footer, .socials-list__link, .site-nav__link, .logo {
  text-decoration: none;
}

.form__btn, .products__btn, .hero__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: inherit;
  border: 0;
  border-radius: 15px;
  padding: 16px 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__title, .rent__title, .products__title, .features__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
}

body {
  color: #fbfbfb;
  background-color: #0e1823;
  letter-spacing: -0.02em;
}

.inter-text {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  padding: 0 50px;
  margin-right: auto;
  margin-left: auto;
}

.hero__btn {
  background-color: #1b414b;
}
.hero__btn:hover, .hero__btn:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

.products__btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -0.02em;
  border: 1px solid rgba(251, 251, 251, 0.35);
  background-color: transparent;
}
.products__btn:hover, .products__btn:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

.form__btn {
  min-width: 194px;
  margin-top: 50px;
  background-color: #1b414b;
  padding: 18px 75px;
}
.form__btn:hover, .form__btn:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

.logo, .logo__footer {
  margin-right: 375px;
  color: #1b414b;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo__footer:hover, .logo:focus, .logo__footer:focus {
  color: #062730;
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin: 4px 0px;
}
.site-nav__item:not(:last-child) {
  margin-right: 4px;
}

.site-nav__link {
  display: inline-block;
  font-size: 9px;
  line-height: 1;
  background-color: rgba(27, 65, 75, 0.5);
  padding: 15px 25px 15px 24px;
  letter-spacing: 0em;
  border-radius: 8px;
  min-width: 91px;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  background-color: #1b414b;
}

.header-wrap {
  position: relative;
}

.header {
  position: absolute;
  top: 32px;
  padding: 0 50px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 1240px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fbfbfb;
  border: 1px solid #fbfbfb;
  border-radius: 8px;
}

.socials-list {
  display: flex;
  align-items: center;
}
.socials-list__item:not(:last-child) {
  margin-right: 8px;
}

.socials-list__link {
  fill: #1b414b;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list__link:hover, .socials-list__link:focus {
  fill: #062730;
}

.hero {
  max-width: 1400px;
  height: 800px;
  padding: 235px 0 215px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero__title {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 500;
  font-size: 70px;
  line-height: 1;
  margin-bottom: 24px;
}

.hero__description {
  max-width: 575px;
  margin: 0 auto 48px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
}

.features {
  position: relative;
  bottom: 45px;
  padding: 0 50px;
}

.features__thumb {
  max-width: 1340px;
  background-color: #fbfbfb;
  margin-left: auto;
  margin-right: auto;
  border-radius: 27px;
}

.features__wrap {
  display: flex;
  padding: 50px 50px 100px 50px;
  background-color: #fbfbfb;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.features__text {
  max-width: 404px;
}

.features__title {
  margin-right: 299px;
  color: #1b414b;
}

.features__subtitle {
  margin-bottom: 20px;
  font-size: 23px;
  line-height: 1;
  color: #1b414b;
}

.features__desc {
  font-size: 13px;
  line-height: 1.15;
  color: #040306;
  opacity: 0.4;
}

.features__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.products {
  padding: 150px 100px;
}

.products__wrap {
  padding: 0 16px;
}

.products__part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products__title {
  max-width: 704px;
  margin: 0 auto 75px;
  text-align: center;
}

.products__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.products__item {
  background-color: #fbfbfb;
  width: 392px;
  padding: 16px 16px 32px 16px;
  border-radius: 24px;
}
.products__item:not(:last-child) {
  margin-right: 32px;
}

.products__img {
  display: block;
  border-radius: 24px;
  margin-bottom: 32px;
}

.products__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: -0.045em;
  color: #1b414b;
}

.products__type {
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #040306;
  opacity: 0.4;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
}

.products-table__properties {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.03em;
  color: #040306;
  opacity: 0.4;
}

.products-table__param {
  text-align: end;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #040306;
}

.advantages__wrap {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.advantages__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 90px 50px;
  gap: 44px 32px;
  max-width: 768px;
  background-color: #1b414b;
  border-radius: 24px;
  margin-right: 32px;
}

.advantages__item {
  width: calc((100% - 32px) / 2);
}

.advantages__subtitle {
  position: relative;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-bottom: 38px;
}

.advantages__subtitle::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(251, 251, 251, 0.1);
  border-radius: 18px;
}

.advantages__desc {
  font-size: 13px;
  line-height: 1.15;
  opacity: 0.8;
}

.advantages__img {
  border-radius: 24px;
}

.rent {
  padding: 150px 100px 150px 50px;
}

.rent__wrap {
  display: flex;
  padding: 0 100px 0 50px;
  justify-content: center;
}

.form-wrap {
  display: block;
}

.rent__img {
  margin-right: 50px;
  border-radius: 24px;
}

.rent__title {
  margin-bottom: 50px;
}

.form {
  width: 472px;
}

.form__input,
.form__comment {
  font-size: 14px;
  line-height: 1.29;
  padding: 18px;
  border-radius: 12px;
  width: 100%;
  background-color: transparent;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  outline: none;
}
.form__input:focus, .form__input:focus,
.form__comment:focus,
.form__comment:focus {
  border: 1px solid rgba(251, 251, 251, 0.5);
}

.form__field:not(:last-child) {
  margin-bottom: 18px;
}

.form__comment {
  resize: none;
  height: 116px;
}

.team {
  padding-bottom: 150px;
}

.team__wrap {
  max-width: 1440px;
  padding: 0 100px;
  margin-right: auto;
  margin-left: auto;
}

.team__title {
  max-width: 840px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  text-align: center;
}

.team__desc {
  max-width: 571px;
  margin: 0 auto 75px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  opacity: 0.4;
}

.team__list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.team__item {
  text-align: center;
  border-radius: 24px;
  background-color: #fbfbfb;
  padding: 32px 36px;
}
.team__item:not(:last-child) {
  margin-right: 32px;
}

.team__photo {
  margin-bottom: 24px;
}

.team__name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: #040306;
}

.team__text {
  max-width: 320px;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);
}

.footer__wrap {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 25px;
  background-color: #1b414b;
  border-radius: 24px 24px 0 0;
  padding: 50px 75px 20px;
}

.footer__thumb {
  display: flex;
  margin-bottom: 96px;
  justify-content: space-between;
}

.logo__footer {
  margin-right: 0;
  color: inherit;
}
.logo__footer:hover, .logo__footer:focus {
  color: rgba(251, 251, 251, 0.8);
}

.footer-nav__list {
  display: flex;
}

.footer-nav__item:not(:last-child) {
  margin-right: 4px;
}

.socials__list {
  display: flex;
}

.socials__item:not(:last-child) {
  margin-right: 8px;
}

.footer-nav__link {
  display: inline-block;
  color: inherit;
  font-size: 9px;
  line-height: 1.33;
  letter-spacing: 0;
  padding: 15px 25px 15px 24px;
  background-color: rgba(251, 251, 251, 0.3);
  border-radius: 8px;
  min-width: 91px;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__link:hover, .footer-nav__link:focus {
  color: #1b414b;
  background-color: #fbfbfb;
}

.socials__link {
  fill: #fbfbfb;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  fill: rgba(251, 251, 251, 0.8);
}

.footer__title {
  margin-right: auto;
  margin-left: auto;
  max-width: 695px;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  margin-bottom: 99px;
}

.footer__text {
  color: rgba(251, 251, 251, 0.4);
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer__license {
  margin-left: 32px;
}/*# sourceMappingURL=main.css.map */