:root {
  --primary-bg-color: #0e1823;
  --accent-color: #1b414b;
  --primary-color: #fbfbfb;
  --secondary-text-color: rgba(251, 251, 251, 0.7);
  --text-color: #040306;
  --description-text-color: rgba(251, 251, 251, 1);
  --placeholder-color: rgba(251, 251, 251, 0.4);
  --bg-color-btn: rgba(251, 251, 251, 0.3);
  --btn-border-color: rgba(251, 251, 251, 0.35);
  --text-color-desc: rgba(4, 3, 6, 0.4);
  --bgc-btn-header: rgba(27, 65, 75, 0.5);
  --socials-btn-header: #062730;
  --socials-btn-footer: rgba(251, 251, 251, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  letter-spacing: -0.02em;
}

a {
  text-decoration: none;
}

.inter-text {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.logo {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.header {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.link {
  font-size: 9px;
  line-height: 1.33;
  background-color: var(--bgc-btn-header);
  padding: 10px 42px;
  letter-spacing: 0em;
  border-radius: 8px;
}

.link:hover,
.link:focus {
  background-color: var(--accent-color);
}

.socials-link {
  fill: var(--accent-color);
}

.socials-link:hover,
.socials-link:focus {
  fill: var(--socials-btn-header);
}

.hero-title {
  font-weight: 500;
  font-size: 70px;
  line-height: 1;
  text-align: center;
}

.hero-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  margin-top: 24px;
}

.hero-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  color: var(--primary-color);
  background-color: var(--accent-color);
  border: 0;
  border-radius: 15px;
  padding: 16px 40px;
  margin-top: 48px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-color);
  background-color: var(--primary-color);
}

.features {
  background-color: var(--primary-color);
}
.features-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  color: var(--accent-color);
  padding-top: 50px;
}

.features-subtitle {
  font-size: 23px;
  line-height: 1;

  color: var(--accent-color);
}

.features-desc {
  font-size: 13px;
  line-height: 1.15;
  color: var(--text-color);
  opacity: 0.4;
  padding-bottom: 100px;
}
.features-img {
  display: block;
}

.products-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  color: var(--primary-color);
  text-align: center;
  margin-top: 150px;
}

.products-list {
  margin-top: 75px;
}

.products-item {
  background-color: var(--primary-color);
  width: 392px;
  padding: 16px 16px 32px 16px;
  border-radius: 24px;
}

.products-img {
  display: block;
  border-radius: 24px;
}

.products-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: -0.045em;
  color: var(--accent-color);
}

.products-type {
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--text-color);
  opacity: 0.4;
}

.products-properties {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.03em;
  color: var(--text-color);
  opacity: 0.4;
}

.products-param {
  font-size: 14px;
  line-height: 16.52px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.products-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 19.8px;
  letter-spacing: -0.02em;
  padding: 16px 40px;
  border: 1px solid var(--btn-border-color);
  border-radius: 15px;
  color: var(--primary-color);
  background-color: transparent;
}

.products-btn:hover,
.products-btn:focus {
  color: var(--accent-color);
  background-color: var(--primary-color);
}
