$primary-bg-color: #0e1823;
$accent-color: #1b414b;
$primary-color: #fbfbfb;
$secondary-text-color: rgba(251, 251, 251, 0.7);
$text-color: #040306;
$description-text-color: rgba(251, 251, 251, 1);
$placeholder-color: rgba(251, 251, 251, 0.4);
$bg-color-btn: rgba(251, 251, 251, 0.3);
$text-color-desc: rgba(4, 3, 6, 0.4);
$btn-border-color: rgba(251, 251, 251, 0.35);
$bgc-btn-header: rgba(27, 65, 75, 0.5);
$socials-btn-header: #062730;
$socials-btn-footer: rgba(251, 251, 251, 0.8);
$color-line: rgba(251, 251, 251, 0.1);
$color-input: rgba(251, 251, 251, 0.2);
$border-color: rgba(251, 251, 251, 0.5);