.rent {
    padding: 150px 100px 150px 50px;
  }
  
  .rent__wrap {
    display: flex;
    padding: 0 100px 0 50px;
    justify-content: center;
  }
  
  .form-wrap {
    display: block;
  }
  
  .rent__img {
    margin-right: 50px;
    border-radius: 24px;
  }
  
  .rent__title {
    @extend %title;
    margin-bottom: 50px;
  }
  
  .form {
    width: 472px;
  }
  
  .form__input,
  .form__comment {
    font-size: 14px;
    line-height: 1.29;
  
    padding: 18px;
    border-radius: 12px;
    width: 100%;
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $color-input;
    outline: none;
  
  &:focus,
  &:focus {
    border: 1px solid $border-color;
  }
}
  
  .form__field:not(:last-child) {
    margin-bottom: 18px;
  }
  
  .form__comment {
    resize: none;
    height: 116px;
  }
  
